apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ .Chart.Name }}-frontend"
  namespace: "{{ .Release.Namespace }}"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    app: "{{ .Chart.Name }}"
    component: "frontend"

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ .Chart.Name }}-worker"
  namespace: "{{ .Release.Namespace }}"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    app: "{{ .Chart.Name }}"
    component: "worker"
