apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: "{{ .Chart.Name }}-worker"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    app: "{{ .Chart.Name }}"
    component: "worker"
spec:
  replicas: {{ .Values.worker.replicas }}
  selector:
    matchLabels:
      app: "{{ .Chart.Name }}"
      component: "worker"
  template:
    metadata:
      labels:
        app: "{{ .Chart.Name }}"
        component: "worker"
    ## Do workers need AWS permissions? I don't think so. So no reason to
    ## give them unnecessary AWS permissions:
    ##
    ## https://github.com/ministryofjustice/analytics-platform-control-panel/blob/main/controlpanel/frontend/consumers.py#L108-L190
    ##
    ## Put the following back if they do!
    #   annotations:
    #     iam.amazonaws.com/role: "{{ .Values.aws.iamRole }}"
    spec:
      serviceAccountName: "{{ .Chart.Name }}-worker"
      containers:
        - name: worker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          command: ["python3", "manage.py", "runworker", "background_tasks"]
          envFrom:
          - configMapRef:
              name: "{{ .Chart.Name }}-env-configmap"
          - secretRef:
              name: "{{ .Chart.Name }}-env-secrets"
          - secretRef:
              name: "{{ .Chart.Name }}-db-env"
          livenessProbe:
              exec:
                command:
                  - python3
                  - manage.py
                  - worker_health
                  - "--stale-after-secs=300"
              initialDelaySeconds: 10
              periodSeconds: 30
              failureThreshold: 6
              successThreshold: 1
              timeoutSeconds: 30
