apiVersion: batch/v2alpha1
kind: CronJob
metadata:
  name: {{ template "fullname" . }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    app: "{{ .Chart.Name }}"
spec:
  schedule: "{{ .Values.Schedule }}"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: {{ .Values.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.failedJobsHistoryLimit }}
  jobTemplate:
    spec:
      template:
        metadata:
          name: nfs-backup
          annotations:
            iam.amazonaws.com/role: {{ .Values.AWS.IAMRole }}
        spec:
          containers:
          - image: "{{ .Values.Image.Repository }}:{{ .Values.Image.Tag }}"
            imagePullPolicy: {{ .Values.Image.PullPolicy }}
            name: s3cmd
            args:
              - s3
              - sync
              - /homes
              - s3://$(S3_BACKUP_BUCKET_NAME)
              - --storage-class 
              - STANDARD_IA
              - --sse 
              - AES256
              - --delete 
              - --exclude 
              - "*/.rstudio/*"
              - --exclude
              - "*/R/library/*"
              - --exclude
              - "*/.git/*"
              - --exclude
              - "*/.cache/*"
              - --exclude
              - "*/Rproj.user/*"
              - --exclude
              - "*/.RData"
              - --exclude
              - "*/.Rhistory"
              - --exclude
              - "*/id_rsa"
              - --exclude
              - "*/.bash_history"
              - --exclude
              - "*/core"
              - --exclude
              - "*/.conda/*"
              - --exclude
              -  "*/miniconda3-r/*"
              - --exclude
              -  "*/.local/*"
              - --exclude
              - "*/Git_Repos/*"
              - --exclude
              - "*/SAT+Shapes/*"
              - --exclude
              - "*/py-safety/*"
              - --exclude
              - "*/.virtualenvs/*"
              - --exclude
              - "*/comparisons/*"
              - --exclude
              - "*/Python/*"
              - --exclude
              - "*/node_modules/*"
              - --exclude
              - "*/.Rcache/*"
              - --exclude
              - "*/packrat/*"
            env:
            - name: S3_BACKUP_BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ template "fullname" . }}
                  key: s3_backup_bucket_name
              value:
            volumeMounts:
              - name: nfs-homes
                mountPath: "/homes"
              - name: exclude-patterns
                mountPath: /tmp/s3cmd
          restartPolicy: OnFailure
          volumes:
          - name: nfs-homes
            persistentVolumeClaim:
              claimName: nfs-homes
          - name: exclude-patterns
            configMap:
              name: {{ template "fullname" . }}